<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
  <handlers accessPolicy="Read, Execute, Script">
            <remove name="FlaskHandler" />
   <remove name="Python27_via_FastCGI" />
   <remove name="Python34_via_FastCGI" />
   <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python36\python.exe|C:\Python36\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
  </handlers>
</system.webServer>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="app.app" />
  <!-- Optional settings -->
  <add key="WSGI_LOG" value="log\flask.log" />
</appSettings>
</configuration>